@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family:"Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}

body,html{
    height: 100vh;
    width: 100vw;
    background-color: #F0F0F0;
    font-family: "Poppins";
}

main{
    background-color: white;
    position: relative;
    width: 375px;
    height: 600px;
    margin: auto;
    transform: translateY(60px);
    border-radius: 20px 20px 100px 20px;
    padding: 20px;
    padding-top: 40px ;
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

main > section > p > input{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border-color: hsl(0, 0%, 86%);
    font-size: 32px;
    margin: 0px 4px 30px 4px;
    text-align: center;
}

section#data label{
    font-size: 1em;
    color: hsl(0, 1%, 44%);
    margin: 0px 26px 0px 35px;
}

section#return{
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    color: hsl(0, 0%, 8%);
}

.destaque{
    color: hsl(259, 100%, 65%);
}

#bola{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: hsl(259, 100%, 65%);
    margin-top: 10px;
    margin-bottom: 20px;
}

#arrow{
    font-size: 4em;
    color: white;
    transform: translate(16.75px,16.75px);
}

hr#esq{
    transform: translateY(60px);
    width:  117.8px;
}

hr#dir{
        transform: translate(218px, 60px);
        width:  117px;
}